 {{!-- <div class="modal modal-blur fade" id="modal-success" tabindex="-1" role="dialog" aria-hidden="true"> --}}

<form id="createPosts" enctype="multipart/form-data">
  <div
    class="modal modal-blur fade"
    id="create-post-modal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Post</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control " name="name" />
          </div>

          <div class="image-preview-container">
            <div class="preview">
              <img id="preview-selected-image"  />
            </div>
            <label for="image-upload" class="form-label bg-dark">Upload Image</label><br
            />
            <input
              type="file"
              id="image-upload"
              accept="image/*"
              class="btn btn-dark ms-auto"
              onchange="previewImage(event);"
              class="btn"
              name="image"
            />
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              {{! <div class="mb-3">
              <label class="form-label">Client name</label>
              <input type="text" class="form-control" />
            </div> }}
            </div>
            {{! <div class="col-lg-6">
            <div class="mb-3">
              <label class="form-label">Reporting period</label>
              <input type="date" class="form-control" />
            </div>
          </div> }}
            <div class="col-lg-12">
              <div>
                <label class="form-label">Description</label>
                <textarea
                  class="form-control"
                  rows="3"
                  name="description"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a
            href="#"
            class="btn btn-link link-secondary"
            data-bs-dismiss="modal"
          >
            Cancel    
          </a>
            
          <button class="btn btn-dark ms-auto" type="submit" id="submit" >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 5l0 14"
              ></path><path d="M5 12l14 0"></path></svg>
            Create new Post
          </button>
        </div>
      </div>
    </div>
    </div>
</form>         
 {{!-- </div> --}}