 <div class="modal modal-blur fade" id="modal-team" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card card-sm card-link-pop" >
            <a href="javascript:void(0)" class="d-block">
              {{#if path}}
            <img
            src="/images/{{path}}"
            style="height: 600px;"/>
              {{/if}}
      </a>

          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>