<div class="modal modal-blur fade" id="modal-full-width" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Notification</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex">

<div>

            <div>
           <img  style="width:300px; height:300px" id="post-notification-image"/>
           </div>
</div>
<div>   
           <div style="margin-left: 50px;">
            <h2>Title</h2>
           <h3 id="post-notification-title"></h3>
           </div><br>

            <div style="margin-left: 50px;">
            <h2>Description</h2>
           <p id="post-notification-description"></p>
           </div>

</div>
        </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>